<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
</head>
<body>
<h1>Liens trouvés</h1>

<% if (links.length > 0) { %>
    <ul>
        <% links.forEach(link => { %>
            <li><a href="<%= link %>" target="_blank"><%= link %></a></li>
        <% }) %>
    </ul>
<% } else { %>
    <p>Aucun lien trouvé pour l'URL saisie.</p>
<% } %>
</body>
</html>
