<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
<h1>Harsene test technique</h1>

<form action="/" method="POST">
    <label for="url">Entrez une URL :</label>
    <input type="text" id="url" name="url" placeholder="https://exemple.com" required>
    <button type="submit">Crawler</button>
</form>

<% if (error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>
</body>
</html>
